@media (width >= 768px) {
    .submissioncontents:first-child .submissioncontents_innerwrapper {
        border-right: 2px solid rgba(0, 0, 0, .125);
    }
}

@media (width < 768px) {
    .submissioncontents .submissioncontents_innerwrapper {
        border-bottom: 2px solid rgba(0, 0, 0, .125);
    }
}

div.comparisonbuttonrow {
    padding-bottom: 5px;
    padding-top: 5px;
}

#fitem_id_comments_loser_1 {
    display: none;
}

#fitem_id_comments_loser_2 {
    display: none;
}
