{{{header}}}

<div class="row">
    {{#submissions}}
        <div class="col-md-6 submissioncontents pos_{{position}}">
            <div class="m-1 submissioncontents_innerwrapper">
                <div class="col-12">
                    {{#first}}
                        <div class="buttona">{{{buttona}}}</div>
                    {{/first}}
                    {{^first}}
                        <div class="buttonb">{{{buttonb}}}</div>
                    {{/first}}
                </div>

                {{#contents}}
                    {{#multiplepluginsused}}
                        <div class="col-12"><h4>{{{type}}}</h4></div>
                    {{/multiplepluginsused}}
                    <div class="col-12">{{{content}}}</div>
                {{/contents}}

                {{#files}}
                    <div class="col-12"><h4>{{{type}}}</h4></div>
                    {{#content}}
                        <div class="col-12 submissioncontents_embed">{{{embed}}}</div>
                    {{/content}}
                {{/files}}

                <div class="col-12">
                    {{#first}}
                        <div class="buttona">{{{buttonabottom}}}</div>
                    {{/first}}
                    {{^first}}
                        <div class="buttonb">{{{buttonbbottom}}}</div>
                    {{/first}}

                </div>
            </div>
        </div>
    {{/submissions}}

</div>

<div class="row comparisonbuttonrow">
    <div class="col-md-6 buttonfinish">{{{buttonfinish}}}</div>
</div>

{{{footer}}}
